@import 'tailwindcss' source(none);
@source "../content/popup.html";

@theme {
  --color-comma-50: #f5f8f8;
  --color-comma-100: #dcebe9;
  --color-comma-200: #b9d6d1;
  --color-comma-300: #8fb9b4;
  --color-comma-400: #679a95;
  --color-comma-500: #4d7f7b;
  --color-comma-600: #3e6866;
  --color-comma-700: #335251;
  --color-comma-800: #2c4343;
  --color-comma-900: #283939;
  --color-comma-950: #131f20;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility notfound {
  @apply empty:before:content-['no_subtitles_found'] empty:before:italic empty:before:flex empty:before:justify-center empty:before:text-comma-300;
}

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m:
            conic-gradient(#0000 10%,#000),
            linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 2s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
